* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #322e2e;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(101, 91, 91, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header img {
    max-width: 20px; 
    height: 10;
    text-align: left;
}

nav {
    display: flex;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-left: 20px; 
    font-weight: 600;
    transition: color 0.3s;
}

nav a:hover {
    color: #52565a; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

ul li {
    text-align: center;
}

ul img {
    max-width: 10px;
    height: auto;
}

form {
    margin: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input:focus, form textarea:focus {
    border-color: #007bff;
    outline: none;
}