:root {
    --text-color:#102245;
    --link-color: #4a76ee;
    --background-color: #96a6c5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */

nav  {display: flex;
justify-content: space-between; 
align-items: center;
padding: 10px 50px; 
flex-wrap: nowrap; 
}

nav .left img {
    max-width: 250px;
    height: auto;
}

nav .right {
    display: flex;
    gap: 30px;
    flex-shrink: 0;
}

nav .right a {
    text-decoration: none; 
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav .right a:hover {
    color: #007bff; 
}